@charset "utf-8";
body {
	padding-top: 20px;
}
.footer {
	border-top: 1px solid #e6e6e6;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	clear: both;
}
@media (min-width: 550px) {
	.jumbotron {
		border-radius: 500px !important;
	}
}
.jumbotron {
	text-align: center;
}
.jumbotron .hidden-xs.hidden-sm .btn   {
	font-size: 21px;
	padding: 14px 24px;
}
.container .row .col-md-4 div.circle {
	background-color: #E6E6E6;
	border-radius: 50%;
    behavior: url(PIE.htc);
	font-size: 60px;
	width: 100px;
	height: 100px;
	text-align: center;
	margin-bottom: 0px;
}
.container .row .col-md-4 div.circle .glyphicon {
	line-height: 100px;
}
.container .row .col-md-4 h2 {
	margin-top: 10px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
}
.container .jumbotron h1 {
	font-style: normal;
	font-weight: 400;
	font-family: sail;
}
.container .jumbotron p small {
	font-size: small;
}
.container .masthead .text-muted {
	font-style: normal;
	font-weight: 400;
}
#logo {
	margin-bottom: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 20px;
}

div.alert-header {
	margin-bottom: 2px;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 5px;
}
.alert-none {
	background-color:#E8E8E8;
	border-color:#BFBFBF;
	color:#000;
}
.alert-none hr {
	border-top-color:#666;
}
.alert-none .alert-link {
	color:#03C;
}
.name {
	margin-top: 0px;
	margin-bottom: 0px;
}
table.stats tr td:nth-child(2) {
	padding-left: 5px;	
}
span.menu-text {
	color: #fff;
	font-weight: bold;
}
#legend tr:nth-child(2) {
	color: #FFFFFF;
	font-weight: bold;
}
#legend tr:nth-child(2) td {
	width: 33.333333333%;
}
div .navbar.navbar-default {
	margin-bottom: 20px;
}
.dropdown-menu > li > a {
	padding: 5px 20px;
}
div.form-group.has-error div div.checkbox {
	color: #ff0039;
}
@media (max-width: 767px) {
	.navbar-nav .open .dropdown-menu > li > a {
		padding: 10px 15px 10px 25px;
	}
}
@media print {
	#navigation,#logo,.footer,#pageTitle {
		display: none;
		visibility: hidden;
	}
}
div.panel.panel-stats {
	min-height: 350px;
}
ul.stats.list-unstyled {
	margin-top: 10px;
	width: 100%;
}
ul.stats.list-unstyled li:not(.data) {
	font-weight: bold;
}
ul.stats.list-unstyled li.data {
	padding-left: 20px;
}
img.barcode {
	position: absolute;
	clip: rect(10px,180px,35px,20px);
}